<script>
function searchForFriends() {
    $('#search_box').focus();
	var friends = <%= raw @my_friends.to_json %>;

	var query = $("#search_box").val();

	var options = {
	  keys: ['name', 'location']
	};

	var f = new Fuse(friends, options);
    var r = f.search(query);

    var result = $("#therowsinthebody");

    if (friends.length != 0 && query.length == 0) {
    	result.empty();
    	if (!$haslocation) {
    		$.each(friends, function() {
        	   result.append('<div class="row" id="friendId'+this.id+'"><a href="/?lat=' + this.latitude + '&lng='+this.latitude+'"><div class="card">' + this.name + '<span class="right">' + this.location + '</span></div></a><span class="deletefriend" onclick="deleteFriend('+this.id+', ' + this.name + ');">&#10006;</span></div>');
      		});		
    	} else {
    		$.each(friends, function() {
        	   result.append('<div class="row" id="friendId'+this.id+'"><a href="/?lat=' + this.latitude + '&lng='+this.latitude+'"><div class="card">' + this.name + '<span class="right">' + this.location + '&nbsp;&nbsp;&nbsp;' + getDistanceFromLatLonInMi(this.latitude, this.longitude, $pos.coords.latitude, $pos.coords.longitude) + '</span></div></a><span class="deletefriend" onclick="deleteFriend('+this.id+', ' + this.name + ');">&#10006;</span></div>');
      		});		
    	}
    } else if (friends.length != 0 && r.length != 0) {
    	result.empty();
    	if (!$haslocation) {
    		$.each(r, function() {
        	   result.append('<div class="row" id="friendId'+this.id+'"><a href="/?lat=' + this.latitude + '&lng='+this.latitude+'"><div class="card">' + this.name + '<span class="right">' + this.location + '</span></div></a><span class="deletefriend" onclick="deleteFriend('+this.id+', ' + this.name + ');">&#10006;</span></div>');
      		});		
    	} else {
    		$.each(r, function() {
        	   result.append('<div class="row" id="friendId'+this.id+'"><a href="/?lat=' + this.latitude + '&lng='+this.latitude+'"><div class="card">' + this.name + '<span class="right">' + this.location + '&nbsp;&nbsp;&nbsp;' + getDistanceFromLatLonInMi(this.latitude, this.longitude, $pos.coords.latitude, $pos.coords.longitude) + '</span></div></a><span class="deletefriend" onclick="deleteFriend('+this.id+', ' + this.name + ');">&#10006;</span></div>');
      		});		
    	}
    } else if (friends.length != 0 && r.length == 0) {
    	result.empty();
    } else {
    	result.empty();
    	result.html('<div class="row card">Get started by adding your first friend!</div>');
    }
}
</script>

<div class="form-group">
	<%= text_field_tag :search_box, nil, class: "form-control", placeholder: "Search for your current friends", onKeyUp:"searchForFriends();"  %>
</div>