<% if @results.nil? %>
<% elsif @results.length == 0 %>
	<h2>Search Results</h2>
	<p>No matches were found.</p>
<% else %>
	<h2>Search Results</h2>
	<p> <%= @results.length%> <%= 'match'.pluralize(@results.length, :es) %> found </p>
		<% @results.each do |r| %>
			<% puts r.attributes %>
			<div class='card'><%= link_to r[:name], r %>
			<button type="submit" class="btn btn-primary pull-right" onclick="sendRequest(<%= r[:id] %>);"> Add </button>
			</div>
		<% end %>
<% end %>

<script>

function sendRequest(friendId) {
	$.ajax({  
        type: 'POST',  
        url: '/friends', 
        data: { friend_id: friendId },
        success: function() {
        location.reload(true);
        }
    });
}
</script>
