<center>
<h1> Groups </h1>

<% @groups.each do |group| %>
	<div class="card"> <%= group.name %>  <%= link_to 'Destroy', group,
	   confirm: 'Are you sure?', :method => :delete, class: 'btn btn-large btn-danger' %> </div> 
	 <br>
<% end %>


<% if(@groups.length == 0) %>
	<div class="card"> You Haven't Created Any Groups </div>
	<% end %>

<br>

<%= link_to 'New Group', new_group_path, class: 'btn btn-large btn-primary' %>

</center>


