<center>
<h1> Groups </h1>
</center>

<% @groups.each do |group| %>
	 <div class="card"> <%= group.name %> <span class="right">
	  <%= link_to 'Edit Group', group, class: 'btn btn-large btn-info' %> 
	  <%= link_to 'Destroy', group,
	   confirm: 'Are you sure?', :method => :delete, class: 'btn btn-large btn-danger' %> </span> </div> 
<% end %>

<center>
<% if(@groups.length == 0) %>
	<div class="card"> You Haven't Created Any Groups </div>
	<% end %>
</center>

<br>

<center>
<%= link_to 'New Group', new_group_path, class: 'btn btn-large btn-primary' %>
</center>


