<br>
<div class="card"> <%= @group.name %> 

  <span class="right">  <%= link_to 'Delete', @group,
	   confirm: 'Are you sure?', :method => :delete, class: 'btn btn-default btn-danger' %> </span> </div>