<h1>
<%= link_to 'Sign in', signin_path, :class=>"btn btn-primary btn-block btn-lg" %>
</h1>

<h2>
<%= link_to 'Create account', new_user_path, :class=>"btn btn-primary btn-block btn-lg" %>
</h2>
<br />
<p class="card center">About Us</p>
<br>
<i><p class="card" id="aboutcard" align="justify"> We are a social network dedicated to bringing the people of Brandeis together. Because of our busy lives we miss out on a lot of social opportunities. We believe that no one should miss out on "grabbing lunch real quick" ever again. With What's Going On? you can see where your friends are and what they are doing in an organized fashion so you can always be up to date on what's happening. Don't let work get in the way of socializing. Always know the 411. </p></i>