<div data-role="header">
	<h1>What's Going On?</h1>
	<h1>
	<div id="user-widget">
	  <% if current_user %>
	  	Look at this handsome bastard: 
	    <%= image_tag current_user.image %>
	    <%= link_to "Sign out", signout_path, id: "sign_out" %>
	  <% else %>
	    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
	  <% end %>
	</div>
	</h1>
</div>

<div data-role="content">
	<p>
		The time is now: <%= Time.now %>
	</p>
</div>

