<% cuid = current_user.id %>
<div class="center">

	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<article>
		<p id="loading">Finding your location: <span id="status">checking...</span></p>
	</article>
	<script>
		function success(position) {
			var s = document.querySelector('#status');

			if (s.className == 'success') {
		    	// not sure why we're hitting this twice in FF, I think it's to do with a cached result coming back    
		    	return;
			}

			s.innerHTML = "found you!";
			s.className = 'success';

			var mapcanvas = document.createElement('div');
			mapcanvas.id = 'mapcanvas';
			mapcanvas.style.height = ($(document).height() - 80) + 'px';
			mapcanvas.style.width = ($(document).width() - 30) + 'px';

			$("#loading").css("display","none");

			document.querySelector('article').appendChild(mapcanvas);

			var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
			var latlngTest = new google.maps.LatLng(position.coords.latitude, position.coords.longitude + 0.00005);

			var myOptions = {
				zoom: 20,
				center: latlng,
				zoomControl: false,
				streetViewControl: false,
				navigationControlOptions: {style: google.maps.NavigationControlStyle.DEFAULT},
				mapTypeId: google.maps.MapTypeId.ROADMAP,
				mapTypeControl: true,
    			mapTypeControlOptions: {
      			style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
    			}
			};
			var map = new google.maps.Map(document.getElementById("mapcanvas"), myOptions);

			var mymarker = new google.maps.Marker({
				position: latlng, 
				map: map, 
				title:"You are here! (at least within a "+position.coords.accuracy+" meter radius)",
				zIndex: 2
			});
			
			var myinfowindow = new google.maps.InfoWindow({
				content: "You are here!"
			});

			google.maps.event.addListener(mymarker, 'click', function() {
				myinfowindow.open(map, mymarker);
			});

			<% for i in 0...CheckIn.most_recent(cuid).length %>
			<%=	raw "var newlatlng"+i.to_s+" = new google.maps.LatLng(" + CheckIn.most_recent(cuid)[i][:latitude].to_s + ", " + CheckIn.most_recent(cuid)[i][:longitude].to_s + ");" %>
			<%= raw "var newmarker"+i.to_s+" = new google.maps.Marker({position: newlatlng"+i.to_s+", map: map });\n" %>
			<%= raw "var myinfowindow"+i.to_s+" = new google.maps.InfoWindow({content: \"" + User.find(CheckIn.most_recent(cuid)[i][:user_id])[:name] + "\" });" %>
			<%= raw "google.maps.event.addListener(newmarker"+i.to_s+", \'click\', function() {myinfowindow"+i.to_s+".open(map, newmarker"+i.to_s+");});" %>
			<% end %>

			$.ajax({  
			    type: 'POST',  
			    url: '/check_in', 
			    data: { latitude: latlng.lat(), longitude: latlng.lng() },
			    success: function(response) {
			        
			    }
			});

			setInterval(function() {
			    $.ajax({  
			    type: 'POST',  
			    url: '/check_in', 
			    data: { latitude: latlng.lat(), longitude: latlng.lng() },
			    success: function(response) {
			        
			    }
			});
			}, 10 * 60 * 1000); // 10 * 60 * 1000 milsec
		}



		function error(msg) {
			var s = document.querySelector('#status');
			s.innerHTML = typeof msg == 'string' ? msg : "failed";
			s.className = 'fail';
		}

		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(success, error);
		} else {
			error('not supported');
		}

	</script>
</div>