/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap.min
 *= require bootstrap-switch.min
 *= require animate
 *= require flat-ui
 *= require bootstrap-social
 *= require font-awesome
 *= require_self
 *= require_tree .
 */

body {
    background-color: #F9F9F9 !important;
}

body > div.navbar.navbar-default.navbar-fixed-top > div > div.navbar-header > a, #navbar-main > ul > li > a, #botherme, #bothermeyes, #bothermeno {
    font-weight:100;
    letter-spacing:1px;
}

#notification-list > li > p {
    font-size: 98%;
}

#notification-list > li > p {
    font-weight:200;
    letter-spacing:1px;
}


 /* nav bar */

$bgDefault      : #2E7FE6;
$bgHighlight    : #0070FF;
$colDefault     : #F1F3F7;
$colHover       : #B2D4FF;

.navbar-default {
    background-color: $bgDefault;
    border-color: $bgHighlight;
    .navbar-brand {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHover; }}
    .navbar-nav {
        > li {
            > a {
                color: $colDefault;
                &:hover, &:focus {
                    color: $colHover;   }}}
        .active {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight; }}
        .open {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight;
                .caret {
                    border-top-color: $colHover;
                    border-bottom-color: $colHover; }}}
        > .dropdown {
            > a {
                .caret {
                    border-top-color: $colDefault;
                    border-bottom-color: $colDefault; }
                &:hover, &:focus {
                    .caret {
                        border-top-color: $colHover;
                        border-bottom-color: $colHover; }}}}}
    .navbar-toggle {
        border-color: $bgHighlight;
        &:hover, &:focus {
            background-color: $bgHighlight; }
        .icon-bar {
            background-color: $colDefault; }}}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHover;
            background-color: $bgHighlight; }}
}


/* other style */
 
 /*.card {
	padding:1.5rem;
	box-shadow:0 1px 2px #aaa;
	background:white;
	margin:0 1rem 1rem;
	border-radius:3px;
	user-select:none;
	animation:fly-in-from-left .5s 1s ease both;
	transform-origin:top left;
    overflow: hidden;
    width: 100%;
 }*/

 .card {
    margin: 10px;
    margin-top: 12px;
    background-color: #ECECEC;
    padding: 10px;
    border-radius: 7px 7px 7px 7px; /* top left, top right, bottom right, bottom left */ 
    border: 0px;
    border-bottom: 0px;
    box-shadow: none;
 }
 
 .nounderline {
 	text-decoration:none;
 }

 main {
	margin-top:51px;
}

.right {
	float:right;
	text-align:right;
}

.left {
	float:left;
	text-align:left
}

#therowsinthebody {
	margin-top:15px;	
}

.center {
	text-align: center;
}

.user-notification-block {
	padding: 3px;
	padding-left: 4px;
}

.request-buttons-left-padding {
	padding-left: 7px;
}

.statuspadding {
	padding-right: 5px;
}

#botherme {
	padding-right: 15px;
}

#bothermeyes {
	padding-right: 10px;
}

#bothermeno {
	padding-right: 1px;
}

body > main > div > div.container > div > div > a.btn.btn-block.btn-social.btn-facebook, body > main > div > div.container > div > div > a.btn.btn-block.btn-social.btn-facebook:visited, body > main > div > div.container > div > div > a.btn.btn-block.btn-social.btn-twitter, body > main > div > div.container > div > div > a.btn.btn-block.btn-social.btn-twitter:visited, body > main > div > div.container > div > div > a.btn.btn-block.btn-social.btn-google-plus, body > main > div > div.container > div > div > a.btn.btn-block.btn-social.btn-google-plus:visited {
    color: #ffffff;
}

@media(max-width:767px) {
    .user-notification-block {
        color: #FFFFFF;
    }

    #botherme, #bothermeyes, #bothermeno {
        color: #FFFFFF;
    }

    #navbar-main > ul > li.dropdown.open > ul > li > a, #notification-list > li > p {
        font-weight:200;
        letter-spacing:1px;
        padding-left: 4px;
    }

    body > div.navbar.navbar-default.navbar-fixed-top > div > div.navbar-header > a, #navbar-main > ul > li > a, #botherme, #bothermeyes, #bothermeno {
        font-weight:200;
        letter-spacing:1px;
    }

    #notification-list > li > p {
        font-weight:200;
        letter-spacing:1px;
    }
}

#therowsinthebody > div > a > div, #pending > div > div, #therowsinthebody > div > div {
    margin-left: 15px;
}

@media (max-width: 991px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-header {
    float: none;
  }
}