#friends {
	padding-top: 10px;
}

#modalpadding {
	padding: 12px;
}

#newfriendsearch {
	margin-top: 10px;
}

.deletefriend, .deleterequest {
	float: right;
    position: absolute;
    padding-top: 25px;
    color:#FF4136;
}

.deletefriend:hover, .deleterequest:hover {
	float: right;
    position: absolute;
    padding-top: 25px;
    color:#FF4136;
    -webkit-text-stroke: 1px #85144B;
}

.card {
	float: left;
	display: block;
	width: 88%;
}

.row  {
	width: 98%;
}

#therowsinthebody {
	margin-top: 0px;
	padding-top: 0px;
}

#addnewfriendbutton {
	margin-top: 20px;
}

#addnewfriend {
	margin-bottom: 22px;
}

#friendsearchform {
	margin-bottom: 0px;
}