.card {
	background:#FFF;
	border:1px solid #AAA;
	border-bottom:1px solid #BBB;
	padding:10px;
	margin:15px;
	overflow:hidden;
	width: 98%;
}

.innercard {
	width: 96%;
}

.innerinnercard {
	width: 94%;
}

.groupname {
	display: inline;
}

a, a:visited {
	color: #FFFFFF;
}