.card {
	background:#FFF;
	border:1px solid #AAA;
	border-bottom:1px solid #BBB;
	padding:10px;
	margin:15px;
	overflow:hidden;
}

.pending_friend {
	font-size: 75%;
	font-style:italic;
	color: #FF4D4D;
}