// Place all the styles related to the Group controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
	background:#FFF;
	border:1px solid #AAA;
	border-bottom:1px solid #BBB;
	padding:10px;
	margin:15px;
	overflow:hidden;
}

