#accountupdatename {
	padding-left:2px;
}

label {
	padding-right:5px;
}

#accountupdatesubmit {
	padding-top:10px;
}

abbr {
	display: none;
}

label.required:after {
	content:" *";
}

body > main > div > div > a.btn.btn-block.btn-social.btn-twitter {
	color: #FFFFFF;
}